defaults/flow.json
[{"id":"f5dce66b.fade38","type":"http in","z":"dc6a2a5c.71f0d8","name":"","url":"/facebook/webhook","method":"get","upload":false,"swaggerDoc":"","x":164,"y":68,"wires":[["36884300.726b5e"]]},{"id":"36884300.726b5e","type":"function","z":"dc6a2a5c.71f0d8","name":"verifyRequest","func":"msg.payload = msg.payload['hub.challenge'];\nreturn msg;","outputs":1,"noerr":0,"x":377,"y":68,"wires":[["9fdab8be.242f28"]]},{"id":"9fdab8be.242f28","type":"http response","z":"dc6a2a5c.71f0d8","name":"","statusCode":"","headers":{},"x":538,"y":68,"wires":[]},{"id":"fb5e10e4.15804","type":"http in","z":"dc6a2a5c.71f0d8","name":"","url":"/facebook/webhook","method":"post","upload":false,"swaggerDoc":"","x":162,"y":129,"wires":[["2ecc1110.877fde"]]},{"id":"53977610.aca8b8","type":"function","z":"dc6a2a5c.71f0d8","name":"Set Conversation Input","func":"context.global.sid = msg.payload.entry[0].messaging[0].sender.id;\nmsg.payload = msg.payload.entry[0].messaging[0].message.text;\nreturn msg;","outputs":1,"noerr":0,"x":597,"y":144,"wires":[["c81e62e3.48166"]]},{"id":"c81e62e3.48166","type":"watson-conversation-v1","z":"dc6a2a5c.71f0d8","name":"","workspaceid":"","multiuser":false,"context":true,"empty-payload":true,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","timeout":"","optout-learning":false,"x":931.5,"y":198,"wires":[["a558f59e.845dc8"]]},{"id":"a558f59e.845dc8","type":"function","z":"dc6a2a5c.71f0d8","name":"Format Send Request","func":"var messageText = msg.payload.output.text[0];\nvar senderId = context.global.sid;\nmsg.payload =\n{\n\"recipient\": {\n\"id\": senderId\n},\n\"message\": {\n\"text\": messageText\n}\n};\nreturn msg;","outputs":1,"noerr":0,"x":956.5,"y":242,"wires":[["cf2ed191.b9a5"]]},{"id":"cf2ed191.b9a5","type":"http request","z":"dc6a2a5c.71f0d8","name":"Send API Request","method":"POST","ret":"obj","url":"","tls":"","x":950.5,"y":291,"wires":[["d2e3fcb5.6ba2c"]]},{"id":"d2e3fcb5.6ba2c","type":"http response","z":"dc6a2a5c.71f0d8","name":"","statusCode":"","headers":{},"x":924.5,"y":335,"wires":[]},{"id":"810bc2e9.8b7d","type":"watson-speech-to-text","z":"dc6a2a5c.71f0d8","name":"","alternatives":1,"speakerlabels":true,"smartformatting":true,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"NarrowbandModel","bandhidden":"","password":"oGKAc0VTSHe1","payload-response":true,"streaming-mode":false,"streaming-mute":false,"discard-listening":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":584,"y":342,"wires":[["ebd0edaa.909a8"]]},{"id":"b611c5e8.25bd28","type":"function","z":"dc6a2a5c.71f0d8","name":"set speech to text input","func":"context.global.sid = msg.payload.entry[0].messaging[0].sender.id;\nmsg.payload = msg.payload.entry[0].messaging[0].message.attachments[0].payload.url;\nreturn msg;","outputs":1,"noerr":0,"x":585.5,"y":246,"wires":[["5b496db1.deb144"]]},{"id":"5b496db1.deb144","type":"ffmpeg-conversion","z":"dc6a2a5c.71f0d8","name":"","format":"wav","audiochannels":"mono","x":585,"y":292,"wires":[["810bc2e9.8b7d"]]},{"id":"2ecc1110.877fde","type":"switch","z":"dc6a2a5c.71f0d8","name":"check for message","property":"payload.entry[0].messaging[0].message","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"false","repair":false,"outputs":2,"x":155,"y":220,"wires":[[],["d09ab5ca.b492e8"]]},{"id":"d09ab5ca.b492e8","type":"switch","z":"dc6a2a5c.71f0d8","name":"check for text","property":"payload.entry[0].messaging[0].message.text","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"false","repair":false,"outputs":2,"x":222,"y":273,"wires":[["53977610.aca8b8"],["77936719.6230f8"]]},{"id":"157296e4.4f54f9","type":"visual-recognition-v3","z":"dc6a2a5c.71f0d8","name":"","apikey":"","image-feature":"classifyImage","lang":"en","x":585,"y":512,"wires":[["996a312b.0aa89"]]},{"id":"2fe04be8.54e994","type":"function","z":"dc6a2a5c.71f0d8","name":"set visual recognition input","func":"context.global.sid = msg.payload.entry[0].messaging[0].sender.id;\nmsg.payload = msg.payload.entry[0].messaging[0].message.attachments[0].payload.url;\nreturn msg;","outputs":1,"noerr":0,"x":583.5,"y":469,"wires":[["157296e4.4f54f9"]]},{"id":"77936719.6230f8","type":"switch","z":"dc6a2a5c.71f0d8","name":"check for attachment","property":"payload.entry[0].messaging[0].message.attachments[0].type","propertyType":"msg","rules":[{"t":"eq","v":"audio","vt":"str"},{"t":"eq","v":"image","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":297,"y":330,"wires":[["b611c5e8.25bd28"],["2fe04be8.54e994"]]},{"id":"996a312b.0aa89","type":"function","z":"dc6a2a5c.71f0d8","name":"parse json to conversation","func":"var bestMatch = \"WTF ?\";\nvar bestScore = 0;\n\nvar loop = 5;\n\nif (msg.result.images[0].classifiers[0].classes.length < loop){\n    loop = msg.result.images[0].classifiers[0].classes.length;\n}\n\nfor (var i = 0 ;i < loop ; i++){\n    if (msg.result.images[0].classifiers[0].classes[i].score > bestScore){\n        bestScore = msg.result.images[0].classifiers[0].classes[i].score;\n        bestMatch = msg.result.images[0].classifiers[0].classes[i].class\n    }\n}\n\nmsg.payload = bestMatch;\nreturn msg;","outputs":1,"noerr":0,"x":585,"y":557,"wires":[["c81e62e3.48166"]]},{"id":"ebd0edaa.909a8","type":"function","z":"dc6a2a5c.71f0d8","name":"set speech to conversation","func":"msg.payload = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":596,"y":383,"wires":[["c81e62e3.48166"]]}]